.slick-slide {
    transition: all 0.3s ease-in-out;
  }
  
  .slick-dots {
    bottom: -15px;
  }
  
  .slick-dots li button:before {
    font-size: 12px;
    color: #fff;
  }
  
  .slick-dots li.slick-active button:before {
    color: #1db954;
  }
  
  .slick-prev,
  .slick-next {
    color: #fff;
    z-index: 1;
  }
  
  .slick-prev:before,
  .slick-next:before {
    font-size: 30px;
    opacity: 0.75;
    transition: opacity 0.3s ease;
  }
  
  .slick-prev:hover:before,
  .slick-next:hover:before {
    opacity: 1;
  }